.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #514545;
}

.wrapper-input {
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddc1c1;
  background: none;
  color: #ddc1c1;
  padding: 0 10px;
}

.add {
  width: 100px;
  height: 30px;
  border: 1px solid #ddc1c1;
  border-radius: 3px;
  background: none;
  color: #ddc1c1;
  padding: 0 10px;
  margin-left: 10px;
}

.add:hover {
  background: rgb(231, 231, 231);
  color: #514545;
  cursor: pointer;
}

.todo-item {
  position: absolute;
  cursor: move;
  min-width: 250px;
  color: #514545;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  background: none;
  border: none;
}

.delete-btn:hover {
  color: red;
  cursor: pointer;
}